/* Стили для иконки */
.icon {
    width: 24px; /* Ширина иконки */
    height: 24px; /* Высота иконки */
    background-image: url('/images/fg.png'); /* Путь к изображению иконки */
    background-size: cover; /* Масштабирование иконки */
    cursor: pointer; /* Изменение курсора при наведении на иконку */
}

/* Дополнительные стили для иконки при наведении */
.icon:hover {
    opacity: 0.8; /* Уменьшение прозрачности при наведении */
}
